<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head.ejs') %>
<body>
    <h1>&#9855;ERROR 404&#9855;</h1>
        <h2>OOPSIE! You have been hacked no se qué :S</h2>
    <%- include('./partials/nav.ejs') %>
    <main>
        <p>ERROR 404: 'Las personas que no están dispuestas a cometer errores o han cometido errores y todavía no han aprendido de ellos, son aquellas que despiertan cada mañana y continúan cometiendo los mismos errores'</p>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>