<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head.ejs') %>
<body>
    <header>
        <h1>Home</h1>
        <h2>Lorem ipsum dolor sit amet.</h2>
    </header>
    <%- include('./partials/nav.ejs') %>
    <main>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident veritatis ipsum aperiam cupiditate eligendi earum temporibus quas doloremque assumenda! Corporis?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident veritatis ipsum aperiam cupiditate eligendi earum temporibus quas doloremque assumenda! Corporis?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident veritatis ipsum aperiam cupiditate eligendi earum temporibus quas doloremque assumenda! Corporis?</p>
    </main>
   <%- include('./partials/footer.ejs') %>
</body>
</html>